//General Styles
.intro {
	@extend %section;
	padding: em(16);

	@include media($large-screen) {
		padding: em(32) em(16) 0 em(16);
	}
	

	p {
		margin:0;
		padding-bottom: em(16);
		font-size: 1.1em;
		font-weight: 300;
		font-style: italic;

		@include media($large-screen) {
			font-size: 1.6em;
		}
	}
}

//Article List Styles
.image-header {
	height: em(100);
	width: 100%;
	background-image: url(../assets/images/bg1.jpg);
	background-size: cover;
	background-position: center center;
	h2 {
		text-align: center;
		@include heading(8px);
		position: relative;
		bottom: -0.85em;
		color: $white;
		text-align: center;
		font-size: 4em;
		line-height: .9em;
		font-weight: 800;

		@media screen and (max-width: 1100px) {
			font-size: 3em;
		}

		@media screen and (max-width: 640px) {
			font-size: 2em;
		}
	}
}

.articles {
	@extend %section;
	@include clearfix;
	padding: em(16) 0;
	border-top: $base-border;
	margin-bottom: em(32);

	h2 {
		margin-bottom: em(16);
		padding: 0 em(12);
		font-family: $sans-serif-condensed;
		@include heading(2px);
		color: $medium-gray;
		font-size: 1.2em;
	}
}

.article-list-item {
	@include span-columns(12);
	padding: em(16);
	@include media($large-screen) {
		@include span-columns(6);
		padding: em(12);
		&:nth-of-type(even) {
			margin-right: 0;
		}
	}
}

.article-list-item-featured {
	@include media($large-screen) {
		padding: em(16);
	}
	@include span-columns(12);
	padding: em(20);
	border-top: $base-border;

	&:first-of-type {
		border-top: none;
	}
}

.timestamp {
	color: $medium-gray;
	font-style: italic;
	span {
		margin-right: em(6);
		font-style: normal;
	}
}

.tag {
	float: right;
	display: inline-block;
	border: 2px solid $mint;
	border-radius: 2px;
	margin-left: em(6);
	padding: em(2) em(6);
	font-family: $sans-serif-condensed;
	font-size: 0.8em;
	@include heading(2px);

	a {
		color: $mint;
		&:hover {
			color: darken($mint, 15);
		}
	}

}



//Article Styles

article {
	margin: 0 auto;
	padding: em(16);
	padding-top: em(32);
	margin-bottom: 2em;

	@include media($large-screen) {
		max-width: em(740);
		margin: 0 auto;
		padding: em(32) em(16) 0 em(16);
		padding-top: em(32);
		margin-bottom: 4em;
	}

	p {
		font-size: 1em;
		color: transparentize($charcoal, 0.2);
		@include media($large-screen) {
			font-size: 1.2em;
			padding-right: em(20);
			padding-left: em(20);
		}
	}

	h3 {
		font-size: 1.6em;
		font-family: $serif;
		font-weight: 300;
		font-style: normal;
		line-height: 1em;
		margin: 1em 0 .5em 0;
		//letter-spacing: 1px;
		border-width: 0 0 0 16px;
		border-style: solid;
		padding: 0 0 0 16px;
		color: $carmin;

		@include media($large-screen) {
			font-size: 2em;
		}
	}
}

p.article-timestamp {
	span {
		font-style: normal;
		margin-right: 8px;
	}
	text-align: center;
	font-style: italic;
	margin-bottom: 2em;

	@include media($large-screen) {
		text-align: right;
	}

}

h1.article-title {
	text-align: center;
	@include heading(0);
	font-size: 4em;
	line-height: .9em;
	font-weight: 800;
	color: $sand;
	@include media($large-screen) {
		font-size: 5em;
	}
}

h4.article-author {
	margin-top: em(28);
	text-align: center;
	font-family: $sans-serif-condensed;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 1px;
}

p.article-intro {
   font-size: 1.4em;
   border-top: $base-border;
   border-bottom: $base-border;
   text-align: center;
   line-height: 1.6em;
   margin: 1em 0px;
   font-weight: 300;
   font-style: italic;
   color: $charcoal;

   @include media($large-screen) {
		font-size: 1.6em;
		padding: 1.15em;
	}
}

p.important {
	font-size: 1.6em;
	line-height: 1.6em;
	margin: 0px 0px 1.4em 0px;
	padding: 0px;
	font-weight: 400;
	font-style: italic;
	color: $charcoal;
}


