header {
	height: em(180);
	width: 100%;
	background-color: transparentize($charcoal, .6);
	//background-image: url(../assets/images/bg1.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	padding-top: em(30);

	@include media($large-screen) {
		height: em(300);
	}

	h1 {
		@include heading(0);
		position: relative;
		bottom: -0.6em;
		color: $mint;
		text-align: center;
		font-size: 3.5em;
		line-height: .9em;
		font-weight: 800;

		@include media($large-screen) {
			font-size: 6em;
			bottom: -2.1em;
		}
	}

	img {
		display: block;
		margin: 0 auto;
		border-radius: 50%;
		border: 2px solid $white;
		height: em(120);
		width: em(120);

		@include media($large-screen) {
			height: em(220);
			width: em(220);
			margin-top: 10px;
		}
	}
}