body, html {
	height: 100%;
	background: lighten($light-gray, 2%);
}

nav {
	width: em(280);
	height: 100%;
	position: fixed;
}

main {
	@include outer-container;
	padding-left: em(280);
}

div.main-inner {
	@include clearfix;
	background: white;
		@media screen and (min-width: 1480px) {
			border-left: $base-border;
			border-right: $base-border;
			box-shadow: $base-box-shadow;
		}
}