---
layout: default

---

<article class="article">
        <p class="article-timestamp"><span class="entypo-clock"></span>{{ page.date | date: "%-d of %B, %Y" }}</p>
        <h1 class="article-title">{{ page.title }}</h1>
        <h4 class="article-author">by {% if page.author %}{{page.author}}{% else %}{{'Ria Carmin'}}{% endif %}</h4>
        <p class="article-intro">{% if page.intro %}{{page.intro}}{% else %}{{page.excerpt}}{% endif %}</p>
    
        {{ content }}

</article>

<section class="articles">
    <h2>Read Next</h2>
    {% for post in site.posts limit:4%}
        {% if post.title == page.title %}
            <!-- do nothing -->
        {% else %}
        <div class="article-list-item">
            <a href="{{ post.url | prepend: site.baseurl }}"><h3>{{post.title}}</h3></a>
            <p class="timestamp"><span class="entypo-clock"></span>{{ post.date | date: "%-d of %B, %Y" }}</p>
            <p class="description">{{ post.excerpt }}</p> 
        </div>
        {% endif %}
    {% endfor %}
</section>
